.section-contact-page {
    width: 100%;
    margin-top: 8vh;    
    font-family: 'Roboto', sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-contact-grid {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'addr addr'
                         'map map';
                         
                         
    
    grid-gap: 1vh;
    border-radius: 1vh;
}
.contact-address {
    padding-left: 30px;
    padding-right: 30px;


    grid-area: addr;
}

.intro-info-contact {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;  
}
.contact-form {
    background-color: #8e744b;

    grid-area: form;
}


.contact-info-page { 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center; 
}

.contact-info-page div {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}
.contact-info-page i {
    width: 20px;
    color: #8e744b;
}
input[type="text"], input[type="tel"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    height: 80px;
    resize: none;
}

.submit-btn {
    background-color: white;
    color: rgb(79, 149, 29);
    border: 2px solid rgb(79, 149, 29);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.submit-btn:hover {
    background-color: rgb(79, 149, 29);
    color: white;
}

.contact-map {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin: 0 auto;
    grid-area: map;
}

.sections-1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #737373;
    padding-bottom: 10px;
}

.content-map {
    display: flex;
    gap: 20px;
}


.address {
    margin-top: 20px;
    font-style: italic;
}

.div-button {
    display: flex ;
    justify-content: center;
    margin: 10px;
}


.whats-app-button {
    width: 150px;
    background-color: #22c55e; /* bg-green-500 */
    color: white; /* text-white */
    padding: 8px 16px; /* px-4 py-2 */
    border-radius: 8px; /* rounded-lg */
    cursor: pointer; /* cursor-pointer */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
  }
  
  .whats-app-button:hover {
    background-color: #16a34a; /* hover:bg-green-600 */
  }



@media (max-width: 768px) {
    .container-contact-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            'addr'
            'form'
            'map';
        padding: 10px; /* Ajusta el padding para pantallas pequeñas */
    }
    
    .contact-address, .contact-form, .contact-map {
        margin: 0; /* Elimina márgenes que puedan causar desbordamiento */
    }

    .contact-form {
        padding: 0; /* Ajusta el padding si es necesario */
    }

    .contact-map iframe {
        width: 100%; /* Asegura que el iframe se ajuste al 100% del contenedor */
        height: auto; /* Ajusta la altura automáticamente */
        max-width: 100%; /* Evita el desbordamiento */
    }
    
    .content-map {
        flex-direction: column; /* Alinea verticalmente en pantallas pequeñas */
    }
    
    .info-map {
        padding: 0; /* Elimina padding adicional si es necesario */
    }
}