.section-weight {
    margin-top: 8vh;    
    padding: 2vh;  
    font-family: 'Roboto', sans-serif;  
}

.container-weight-grid {
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'img tit tit'
                         'img tit tit'
                         'bs1 bs1 bs1'
                         'bs2 bs2 bs2';
    
    grid-gap: 1vh;
    border-radius: 1vh;

}

.section-weight-img {
    height: 75vh;
    grid-area: img;
    display: flex;
    justify-content: center;align-items: center;
}
.weight-img {
    background: red;
    height: 70vh;
    border-radius: 1vh;
}

.section-weight-intro {
    padding: 3vh;
    grid-area: tit;
}
.intro-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000000;
}
.weight-sub-title{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.intro-info {
    
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
}


.section-weight-slim {
    padding: 3vh;
    grid-area: bs1;
    padding: 3vh;
}

.section-weight-fat {
    padding: 3vh;    
    grid-area: bs2;
}



@media (max-width: 768px) {
    .container-weight-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'img'
                         'tit'
                         'tit'
                         'bs1'
                         'bs2';
    }
}